@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Models
@model List<Product>


    <div class="row padding-0 margin-0">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="col-xs-1 padding-0 margin-0">
                <img class="qr-code" src="@Model[i].QrCodeUrl"/>
                <p class="text-center">@Model[i].Name</p>
                <div style="display: flex; justify-content: center;">
                    <p class="text-center price-tag">@Model[i].GetFormattedShopPrice()</p>
                </div>
            </div>
        }
    </div>
