@using Dictionary = K9.Base.Globalisation.Dictionary
@{
    Layout = "../Shared/_LayoutForm.cshtml";
}

<div class="margin-bottom-10">
    @Html.Success(Dictionary.Success, K9.Globalisation.Dictionary.SignUpSuccessTitle)
</div>