@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@using K9.WebApplication.Services
@model Protocol

@{
    var schedule = ProtocolService.GetSchedule(Model);
}

<div class="row">
    <div class="col-xs-12">
        @Dictionary.Every @Model.PeriodValue @Model.Period.ToString()
    </div>
</div>
