@using System.Web.Mvc.Html
@using K9.WebApplication.Helpers
@model List<Product>

@{
    ViewBag.Title = Dictionary.Protocols;
    ViewBag.SubTitle = Dictionary.CbsUpregulation;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
    ViewBag.Background = ViewBagHelper.EViewBackground.Default;
}

<div class="container main-content">
    <div class="well margin-bottom-0">
        <article>
            <p>
                Cbs Upregulation referes to the overactivity of Cystathione Beta Synthase (CBS) enzyme, which helps make the conversion of homocysteine to cystathionine as part of the Transsulfuration Pathway. This pathway is part of the Methyl Cycle, which is the backbone of our physiology. 
            </p>
            
            <p>
                The functional status of the Methyl Cycle determines our resistance or susceptibility to environmental toxins and microbes. Abnormalities in this cycle are the factor that determines why two siblings might be healthy, whereas the third is sick from environmental chemicals or is autistic or develops some other chronic disease.
            </p>
            
            <p>
               A large and growing number of chronic, especially unexplained chronic illnesses today are a direct result of problems with the Methylation Cycle. Unless the problems with methylation are addressed, these diseases will remain chronic and unexplained. 
                
                Fortunately, in most cases, it is possible to create "nutritional workarounds" by supplementing alternative pathways, therefore bypassing problem areas of the Methylation Cycle. This can be done with dietary changes, nutritoinal supplements and certain lifestyle hacks. More on this below.
            </p>
            <p>
                Often called a "CBS Mutation", in reality, the reason for the overactivity of the CBS enzyme is not due to a fault in the genetcs of an individual per se. More accurately, it is the unfortunate combination of genetics and modern environmental chemicals and stressors that creates this problem. Ancestors of those suffering with poor health due to a CBS mutation will most likely have lived healthy, symptom-free lives for the most part, as the world in which they grew up was far less toxic. The exponential increase in environmental toxicity is affecting all of us, regardless of our genetics, and if we do nothing to protect ourselves, we will all ultimately be negatively impacted at some point. However, those with a genetic susceptibility to methylation issues are almost always the first to go down.
            </p>
            <p>
                The brain behind the science of the Methyl Cycle is Amy Yasko PhD.  Dr. Yasko’s area of clinical expertise is in the treatment of Autism. More information is available on her website holistichealth.com. According to Dr. Yasko, environmental toxicity and Methyl Cycle abnormalities are the predisposing cause of Autism and of most chronic degenerative disease states that now plague our modern society.
            </p>
            
            <h5>How a CBS Upregulation affects a person's health</h5>
            <p>Now we understand the importance of the Methyl Cycle and it's role in health and disease, let's dive a little deeper into the specifics of a CBS upregulation.</p>
            <p>
                People with a CBS upregulation produce toxic sulfites from the breakdown of dietary sulfur. Sulfites are also used in the food industry as preservatives and many people are highly sensitive to them. They can cause migraines, nausea, gastrointestinal distress and vomitting in some individuals. Sulfites are highly toxic and trigger cortisol spikes, activating the fight or flight response. They also cause an increase in glutamate, which becomes excitotoxic at higher levels and causes agitation, anxiety and can damage the brain and nervous system. Sulfites also product toxic hydrogen sulfide, which is a major cause of brain fog and low energy as well as excess ammonia, which interferes with many physiological processes, especially the production of neurotransmitters dopamine and serotonin. Moreover, elevated ammonia negatively affects vascular health, predisposing people to hypertension, atherosclerosis as well as increasing free radical damage in the tissues, which increases the risk of many other inflammatory diseases. 
            </p>
            <p>
                Although this sounds terrible, in reality, we are only dealing with relatively small deviations from "normal" physiology. If this were not the case, it would not be possible for people with CBS upregulations to survive for very long. However, though relatively small, these changes are enough to cause much suffering and if not corrected, can drastically increase the risk of many serious diseases.
            </p>
        </article>
    </div>
</div>