@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Authentication
@model Protocol
@{
    Layout = "../Shared/_LayoutPrint.cshtml";
    ViewBag.SubTitle = Model.Name;
}

<div class="print-container background-image schedule-print-container">
    <div class="row">
        <div class="col-xs-12 center-block">
            <img src="~/Images/company/logo.png" class="center-block" />
        </div>
    </div>
    <br />

    @Html.Partial("../Protocols/_Schedule")

    <br />
    <br />

    @Html.Partial("../Protocols/_SummaryFields")
    @Html.Partial("../Protocols/_SummaryActivityFields")
</div>