#pageSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 6px solid #e6e6e6;
  border-radius: 50%;
  border-top: 6px solid #337ab7;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

#pageOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    cursor: pointer;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#pageSpinnerDiv {
  display: none;
  text-align: center;
}