.image-panel {
    height: 200px;
    width: 100%;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-panel-medium {
    height: 300px;
}

.image-panel-small {
    height: 100px;
}

.panel-image-container {
    padding: 15px;
}

    .panel-image-container .image-panel {
        margin-bottom: 0;
    }

.panel-body-image  {
    padding-top: 0;
}