@model UserAccount.ResetPasswordModel
@{
	ViewBag.Title = Dictionary.AccountLockedTitle;
	Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Alert(EAlertType.Locked, Dictionary.AccountLockedError, Dictionary.AccountLockedErrorDetails)
<div class="text-center">
	@Html.ActionLink(Dictionary.ResetPassword, "PasswordResetRequest")
</div>