@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.AccountActivationTitle;
	Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Failure(K9.Base.Globalisation.Dictionary.AccountActivationFailed)
<div class="text-center margin-bottom-10">
    @Html.ActionLink(K9.Base.Globalisation.Dictionary.PleaseContactSupport, "ContactUs", "Support")
</div>