@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.MyAccountTitle;
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div class="margin-bottom-10">
    @Html.Success(K9.Base.Globalisation.Dictionary.AccountDeleteSuccess)
</div>
