@using K9.Base.WebApplication.Helpers
@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.PasswordResetTitle;
    Layout = "../Shared/_LayoutForm.cshtml";
}
<div class="margin-bottom-10">
    @Html.Success(K9.Base.Globalisation.Dictionary.PasswordResetEmailSent, K9.Base.Globalisation.Dictionary.EmailValidFor)
</div>
