@using K9.Base.WebApplication.Helpers
@{
    ViewBag.Title = Dictionary.PromoCodes;
    Layout = "../Shared/_LayoutForm.cshtml";
}
<div class="margin-bottom-10">
    @Html.Success(Dictionary.EmailPromoCodeSent)
</div>
