@{
    ViewBag.Title = Dictionary.UnsubscribeRequeset;
    Layout = "../Shared/_LayoutForm.cshtml";
}
<div class="margin-bottom-10">
    @Html.Failure(Dictionary.UnsubscribeFailed, Html.ActionLink(K9.Base.Globalisation.Dictionary.PleaseContactSupport, "ContactUs", "Support"))
</div>
