<div id="success-popup" class="display-none">
    @Html.PopupAlert(EAlertType.Success, Dictionary.RecordUpdatedSuccessfully)
</div>
<div id="fail-popup" class="display-none">
    @Html.PopupAlert(EAlertType.Fail, Dictionary.RecordUpdateFailed)
</div>