@model K9.WebApplication.Options.AjaxPopupOptions

<div class="margin-top-10">
    <div id="success-popup" class="display-none">
        <div class="alert alert-@EAlertType.Success.ToString().ToLower() fade in">
            @Model.SuccessMessage
        </div>
    </div>
    <div id="fail-popup" class="display-none">
        <div class="alert alert-@EAlertType.Fail.ToString().ToLower() fade in">
            @Model.FailureMessage
        </div>
    </div>
</div>