@model BreadCrumbsOptions
<ol class="breadcrumb">
	@foreach (var crumb in Model.Crumbs)
	{
		 if (crumb.IsActive)
		 {
			<li class="active">@crumb.Label</li>
		 }
		 else
		 {
			<li><a href="@Url.Action(crumb.ActionName, crumb.ControllerName)">@crumb.Label</a></li> 
		 }
	}
</ol>
