@model
<h4>@Dictionary.News</h4>
<div class="scroller-container">
	<ul>
		<li>12th Aug - Curabitur</a></li>
		<li>10th Sept - Fusce urna</a></li>
		<li>24th Sept - Praesent</a></li>
		<li>17th Oct - Malesuada </a></li>
		<li>12th Aug - Curabitur</a></li>
		<li>10th Sept - Fusce urna</a></li>
		<li>24th Sept - Praesent</a></li>
		<li>17th Oct - Malesuada </a></li>
		<li>12th Aug - Curabitur</a></li>
		<li>10th Sept - Fusce urna</a></li>
		<li>24th Sept - Praesent</a></li>
		<li>17th Oct - Malesuada </a></li>
	</ul>
</div>
