@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model K9.Base.WebApplication.ViewModels.FileSourceViewModel
@{
    var imageSrc = Model.Images.Any() ? $"{Model.Images[0].AssetInfo.Src}" : "";
}
@if (Model.Images.Count == 1)
{
    @Html.ImagePanel(new PanelOptions
    {
        ImageLayout = EPanelImageLayout.Contain,
        ImageSrc = imageSrc,
        ImageSize = EPanelImageSize.Medium
    })
}
else if (Model.Images.Any())
{
    <div class="picture-frame picture-frame-400">
        <div>
            @Html.Carousel(new CarouselOptions("full-size", 70, EImageSizing.Horizontal, Model.GetPathsToFiles())
            {
                ImageSizing = EImageSizing.Vertical
            })
        </div>
    </div>
}

