@{
    Layout = "~/Views/Shared/_LayoutPrintMaster.cshtml";
}

@section printLayout
{
    <div class="print-layout">
        <div class="print-container">
            @RenderBody()
        </div>
    </div>
}