@{
	Layout = "~/Views/Shared/_LayoutFormMaster.cshtml";
}
@section formLayout
{
	<div class="page shadow alphaBackground roundCorners small-form">
		@if (!string.IsNullOrEmpty(ViewBag.SubTitle))
		{
			<div class="page-header">
				<h2><strong>@ViewBag.SubTitle</strong></h2>
			</div>
		}
		@RenderBody()
	</div>
}