@model AlertOptions
<div class="alert alert-@Model.AlertType.ToString().ToLower() alert-dismissable fade in">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>@Model.Message!</strong>
	@Model.OtherMessage
</div>