@model string

@{
    var description = ViewBag.MetaDescription ?? Dictionary.PureAlchemyMetaDescriptionMain;
    var keywords = ViewBag.Keywords ?? Dictionary.Keywords;
    var title = Html.Raw($"{Dictionary.PureAlchemy} &raquo; {ViewBag.Title}");
}

<!--@keywords-->

<div class="seo @Model">
    <h1>
        @title
    </h1>
    <h2>
        @ViewBag.SubTitle
    </h2>
    <div>
        @description
        @keywords
    </div>
</div>
