@using K9.SharedLibrary.Extensions
@model K9.Base.WebApplication.ViewModels.FileSourceViewModel

<div class="well">
    @foreach (var group in Model.VideoFiles)
    {
        <p class="media-title">@group.FileNameNoExtension.ToProperCase()</p>
        <video controls>
            @foreach (var item in group.Assets)
            {
                <source src="@item.Src" type="video/@item.ExtensionNoDot.ToLower()">
            }
            <span>@K9.Base.Globalisation.Dictionary.VideoUnsupported</span>
        </video>
    }
</div>