@using System.Web.Mvc.Html
@model List<Ingredient>

@{
    ViewBag.Title = Dictionary.Ingredients;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

<div class="container main-content">
    <div class="well margin-bottom-0">
        @Html.Partial("_IngredientList", Model)
    </div>
</div>