@using System.Web.Mvc.Html
@model Ingredient

@{
    ViewBag.Title = Model.Name;
    Layout = "../Shared/_LayoutForm.cshtml";
}

<div class="container main-content">
    <div class="well margin-bottom-0">
        @Html.Partial("_Ingredient", Model)
    </div>
</div>