h3, h4 {
    color: #0a4070 !important;
}

h5 {
    color: #337ab7 !important;
}

    h5.dark {
        color: #0a4070 !important;
    }

h4 {
    line-height: 1.3em;
}

h5 {
    line-height: 1.2em;
}

article h4 {
    margin-top: 32px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 120%;
    color: #444;
}

article h4 a.collapsible-panel-link {
    font-size: 120%;
}

article h5 {
    margin-top: 32px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 110%;
    line-height: 1.5em;
    color: #444;
}

form div.well h3 {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 1.3em;
    font-size: 1.4em;
}

hr {
    border-color: #d9d9d9;
}

.footer h3, .footer h4, .footer h5 {
    color: #8a8a8a !important;
}
