.datatable-container
{
	width: 100%;
	overflow: auto;
}

.datatable-container div
{
	margin: 0;
}

.bootstraptable .btn, form .btn
{
	margin-right: 6px;
}

form .pull-right .btn {
    margin-right: 0;
}

.bootstraptable tbody tr:hover
{
	background: #337ab7 !important;
	color: #ffffff !important;
}

.bootstraptable td
{
	vertical-align: middle !important;
}

.datatable-container .col-lg-1, 
.datatable-container .col-lg-10, 
.datatable-container .col-lg-11, 
.datatable-container .col-lg-12, 
.datatable-container .col-lg-2, 
.datatable-container .col-lg-3, 
.datatable-container .col-lg-4, 
.datatable-container .col-lg-5, 
.datatable-container .col-lg-6, 
.datatable-container .col-lg-7, 
.datatable-container .col-lg-8, 
.datatable-container .col-lg-9, 
.datatable-container .col-md-1, 
.datatable-container .col-md-10, 
.datatable-container .col-md-11, 
.datatable-container .col-md-12, 
.datatable-container .col-md-2, 
.datatable-container .col-md-3, 
.datatable-container .col-md-4, 
.datatable-container .col-md-5, 
.datatable-container .col-md-6, 
.datatable-container .col-md-7, 
.datatable-container .col-md-8, 
.datatable-container .col-md-9, 
.datatable-container .col-sm-1, 
.datatable-container .col-sm-10, 
.datatable-container .col-sm-11, 
.datatable-container .col-sm-12, 
.datatable-container .col-sm-2, 
.datatable-container .col-sm-3, 
.datatable-container .col-sm-4, 
.datatable-container .col-sm-5, 
.datatable-container .col-sm-6, 
.datatable-container .col-sm-7, 
.datatable-container .col-sm-8, 
.datatable-container .col-sm-9, 
.datatable-container .col-xs-1, 
.datatable-container .col-xs-10, 
.datatable-container .col-xs-11, 
.datatable-container .col-xs-12, 
.datatable-container .col-xs-2, 
.datatable-container .col-xs-3, 
.datatable-container .col-xs-4, 
.datatable-container .col-xs-5, 
.datatable-container .col-xs-6, 
.datatable-container .col-xs-7, 
.datatable-container .col-xs-8, 
.datatable-container .col-xs-9 {
	padding-left: 0;
	padding-right: 0;
}
