@using K9.WebApplication.Options
@model string

<div>
    <div class="panel-container" style="display: none;">
        @Html.Raw(Model)
    </div>
    <div class="inline-collapsible-panel-link">@Dictionary.ReadMore</div>
</div>

