<li class="flag-item"><a title="@Dictionary.French" href="@Url.Action("SetLanguage", "Home", new { languageCode = "fr-FR"} )"><img src="~/Images/flags/fr.png"/></a></li>
<li class="flag-item"><a title="@Dictionary.English" href="@Url.Action("SetLanguage", "Home", new { languageCode = "en-GB"} )"><img src="~/Images/flags/gb.png"/></a></li>