@using K9.WebApplication.Config
@{
	ViewBag.Title = Dictionary.Home;
}

<div class="row text-center">
	<img src="~/Images/company/botf_med.png"/>
	<h2>@WebsiteConfiguration.Instance.CompanyName</h2>
</div>
