@media only screen and (max-width: 768px) {

	.page {
		
	}
	
	.alphaBackground {
		filter: alpha(opacity=80);
	}

	.shadow {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.wide-form {
		max-width: 100% !important;
	}

	.btn {
		width: 100%;
		margin-bottom: 4px;
	}

	ul.pagination {
		padding: 10px 0;
	}
}
