@using K9.WebApplication.Extensions
@model List<NewsItem>
<h4>@Dictionary.News</h4>
<div class="scroller-container">
	<ul>
		@foreach (var item in Model)
		{
			<li>@item.PublishedOn.ToHumanReadableString() - @item.Subject</li>
		}
	</ul>
</div>
