@using System.Web.Mvc.Html
@model List<NewsItem>
@{
    ViewBag.Title = Dictionary.News;
    Layout = "~/Views/Shared/_LayoutFormWide.cshtml";
}

<div class="main-section">
    <div class="container">
        <div class="main-heading">
            <h3>@Dictionary.News</h3>
            <div id="action-signup-button-container" class="text-center">
                @Html.BootstrapActionLinkButton(Dictionary.SignUpToNewsLetter, "SignUpToNewsLetter", "Contacts", null, "fa-envelope", EButtonClass.Large)
            </div>
        </div>
    </div>
    @Html.Partial("_News")
</div>