@model K9.WebApplication.ViewModels.ArchiveItemViewModel
@{
    ViewBag.Title = Dictionary.MediaTheque;
    Layout = "~/Views/Shared/_LayoutFormWide.cshtml";
}

<div class="main-section">
    <div class="container">
        <div class="main-heading">
            <h4 class="text-black" style="font-size: 1.5em; margin-top: 20px;">@Model.SelectedArchiveItem.Title</h4>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="col-md-3">
                @Html.Partial("_ArchiveMenu", Model.ArchiveViewModel)
            </div>
            <div class="col-md-9">
                <div>
                    <div class="list-item-container">
                        @Html.Partial("_ArchiveItem", Model.SelectedArchiveItem)
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
