@using K9.WebApplication.Helpers
@model K9.Base.WebApplication.ViewModels.ArchiveViewModel
@{
    ViewBag.Title = Dictionary.MediaTheque;
    Layout = "~/Views/Shared/_LayoutFormWide.cshtml";
}

<div class="main-section">
    <div class="container">
        <div class="main-heading">
            <h3>@Dictionary.MediaTheque</h3>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="col-md-3">
                @Html.Partial("_ArchiveMenu")
            </div>
            <div class="col-md-9">
                <div>
                    @if (Model.SelectedArchive != null)
                    {
                        foreach (var item in Model.SelectedArchive.Items)
                        {
                            <div class="list-item-container">
                                @Html.Partial("_ArchiveItemPreview", item)
                            </div>
                            @Html.Separator()
                        }
                    }
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
