@{
	ViewBag.Title = Dictionary.Archive;
}

<div class="banner-forest3 main-banner">
	@Html.Partial("_Navbar")
</div>
<div class="main-section">
	<div class="container">
		<div class="main-heading">
			<h3>@Dictionary.Archive</h3>
		</div>
	</div>
</div>