@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Activity

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Name)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.ShortDescription)
    </div>
</div>
