@using K9.Base.WebApplication.Helpers
@{
    ViewBag.Title = Dictionary.Donate;
    ViewBag.SubTitle = Dictionary.DonationCancelled;
    Layout = "../Shared/_LayoutForm.cshtml";
}

<div class="margin-bottom-10">
    @Html.Success(Dictionary.DonationCancelSuccessful + " <i class='fa fa-smile-o'></i>")
</div>