@using K9.WebApplication.Helpers
@{
    ViewBag.Title = Dictionary.Infections;
    ViewBag.SubTitle = Dictionary.Infections;
    ViewBag.Background = ViewBagHelper.EViewBackground.Default;
    Layout = "../Shared/_LayoutForm.cshtml";
}


<div class="container main-content">
    <div class="well margin-bottom-0">
        @Html.ImagePanel("Welcome", "~/Images/pages/default-image.jpg")

        <article>
            @MvcHtmlString.Create(Dictionary.ComingSoon)
        </article>
    </div>
</div>