@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Attributes
@using K9.DataAccessLayer.Enums
@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model HealthQuestionnaire


<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="section-title">@Dictionary.CbsAndMethylation</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @foreach (var property in Model.GetCbsProperties())
            {
                if ((EYesNo)Model.GetProperty(property) == EYesNo.Yes)
                {
                    <span class="summary-item">@property.Name.SplitOnCapitalLetter()</span>
                }
            }
        </div>
    </div>
</div>

