@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@model HealthQuestionnaire

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                @Html.Partial("Overview/_PersonalDetails")
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                @Html.Partial("Overview/_NineStarKi")
            </div>
        </div>
    </div>
</div>


