@model K9.SharedLibrary.Models.FileSource
@{
}
<div class="upload-file-preview container">
</div>
@Html.LabelFor(model => model)
<div class="input-group">
	<label class="input-group-btn">
		<span class="btn btn-primary btn-file">
			@Dictionary.Browse&hellip; @Html.TextBoxFor(model => model.PostedFile, new { @class = "file-upload", type = "file", style = "display: none;", accept = Model.GetAcceptedFileExtensionsList(), multiple = "multiple" })
		</span>
	</label>
	<input type="text" class="form-control file-label" readonly />
</div>