@using K9.Base.DataAccessLayer.Enums
@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Enums
@using K9.SharedLibrary.Extensions
@model ENineStarKiEnergy?

@{
    var attribute = Model.GetAttribute<K9.DataAccessLayer.Attributes.NineStarKiEnumMetaDataAttribute>();
}

<div>
    <img class="ninestarki-image" src="https://9starki.org/Images/ninestar/energies/@(Model).png" />
</div>