@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Order

@if (Model.Products != null && Model.Products.Any())
{
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("_ProductsSummary")
        </div>
    </div>
}

@if (Model.ProductPacks != null && Model.ProductPacks.Any())
{
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("_ProductPackSummary")
        </div>
    </div>
}