@using K9.WebApplication.Helpers
@{
    ViewBag.Title = Dictionary.AcidAlkaline;
    ViewBag.SubTitle = Dictionary.AcidAlkaline;
    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <div class="well margin-bottom-0">
        @Html.ImagePanel("Acid Alkaline", "~/Images/nutrition/acid-alkaline-bg.jpg")
        <article>
            <h4>
                What is the alkaline / acid balance?
            </h4>
            <h5>
                There is a lot of misconceptions about the acid / alkaline balance
            </h5>
            <p>
                You may have heard a lot of health-conscious people talk about the importance of being "alkaline" or of eating an "alkaline diet". You may also have heard of people talking about being too "acidic". In reality, the body has homeostatic control mechanisms that keep the pH of the bodily fluids is under strict control. This is essential to our survival and our bodies would die pretty quickly otherwise.
            </p>
            <h5>
                The real problem underlying excess acid formation is depletion
            </h5>
            <p>
                In reality, when we talk about being "too acidic", what is really happening is that the body, in its attempt to keep the pH of the tissues within the ideal range, is becoming depleted. For example, one of the major ways in which the body neutralises acids is to release alkline minerals, such as calcium, magnesium, sodium, potassium, etc. back into the blood where the can be used to buffer excess acidity. These minerals are taken from bones, organs and other tissues. As you can imagine, over time this can weaken many different parts of the body, including the lungs, bones, teeth and even the heart, brain and other major organs. 
            </p>
            <p>
                The more depleted we become, the weaker our cells and therefore tissues, organs, sytems and overall health get. This sets the stage for chronic inflammation, disease and degeneration. The more severe the depletion, the more severe and advanced disease tends to be.
            </p>
            <h5>
                Common signs that our bodies are depleted from excess acidity
            </h5>
            <p>

            </p>
        </article>
        <br />
        @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultations", null, "fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
        @Html.BootstrapActionLinkButton(Dictionary.DownloadFreeHealthKickstartGuide, "DownloadKickStartGuide", "Home", null, "fa-phone-alt", EButtonClass.Info, EButtonClass.Large)
    </div>
</div>