@using K9.WebApplication.Helpers
@{
    ViewBag.Title = Dictionary.AcidAlkaline;
    ViewBag.SubTitle = Dictionary.AcidAlkaline;
    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <div class="well margin-bottom-0">
        @Html.ImagePanel("Acid Alkaline", "~/Images/nutrition/acid-alkaline-bg.jpg")

        <article>
            <h4>
                What is the alkaline / acid balance?
            </h4>
        </article>

        <br />

        @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultations", null, "fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
    </div>
</div>