@using K9.WebApplication.Helpers
@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.Home;
    ViewBag.SubTitle = null;
    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

<div class="container main-content">
    <div class="well margin-bottom-0">
        <video autoplay loop muted>
            <source src="~/Videos/welcome9.mp4" type="video/mp4">
        </video>

        <article>
            @MvcHtmlString.Create(Dictionary.welcome)
        </article>
        <br />
        <div class="buttons-container">
            @Html.BootstrapActionLinkButton(Dictionary.ViewProducts, "Main", "Products", null, "", EButtonClass.Info, EButtonClass.Large)
            @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultation", null, "fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
        </div>
    </div>
</div>