@using K9.Base.WebApplication.Helpers
@model MembershipOption

<div class="membership-medal @Model.GetCssClassName()">
    <div class="membership-medal-item membership-price">@Model.GetFormattedPrice()</div>
    <div class="membership-medal-item membership-element">@MvcHtmlString.Create(Model.GetMembershipMedalElementLocal().Replace(" ", "<br/>"))</div>
    <div class="membership-medal-item membership-period">@Model.GetMembershipPeriodLocal()</div>
</div>