@using K9.Base.WebApplication.Extensions
@model UserMembership

@if (Model.MembershipOption.SubscriptionType != MembershipOption.ESubscriptionType.Free)
{
    <div class="membership-valid-until-container">
        @Dictionary.ValidUntil @Model.EndsOn.ToLongLocalDateString()
    </div>
}