@{
    var lastCompatibility = K9.WebApplication.Helpers.SessionHelper.GetLastCompatibility(true, false);
    var lastProfile = K9.WebApplication.Helpers.SessionHelper.GetLastProfile(true, false);
}

@if (lastCompatibility != null)
{
    <div class="text-center">
        <p class="margin-top-5">
            @Html.ActionLink(Dictionary.RetrieveLastCompatibility, "RetrieveLastCompatibility", "Vibrant")
        </p>
    </div>
}
@if (lastProfile != null)
{
    <div class="text-center">
        <p class="margin-top-5">
            @Html.ActionLink(Dictionary.RetrieveLastProfile, "RetrieveLastProfile", "Vibrant")
        </p>
    </div>
}
