@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@model HealthQuestionnaire

<div class="well">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            @Html.BootstrapEditorFor(e => e.DateOfBirth)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            @Html.BootstrapEditorFor(e => e.Gender)
        </div>
    </div>
</div>

<hr />

@Html.BootstrapButton(Dictionary.SaveAndContinue, EButtonType.Submit, "fa-chevron-right", EButtonClass.IconRight, EButtonClass.Large)