@using System.Web.Mvc.Html
@using K9.Base.WebApplication.ViewModels
@using K9.WebApplication.Helpers
@model Product

@using (Html.LogInToPurchase(Request.Url.ToString()))
{
    <button data-id="@Model.Id" class="add-to-cart-button btn btn btn-primary btn-lg"><i class="fa fa-cart-plus"></i> @Dictionary.AddToCart</button>
}
