<!DOCTYPE html>
<html lang="en">

<head>
    <title>{Title}</title>
</head>

<style type="text/css">
    html
    {
        margin: 0;
		padding: 0;
		font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
		font-size: 100%;
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased !important;
        margin: 0; 
        color: #333;
    }
</style>

<body>
    <p class="text">Cher {FirstName},</p>
    <p class="text">Merci de vous être inscrit à {Company}. Nous vous prions de cliquer sur le lien suivant pour activer votre compte:</p>
    <p class="text"><a href="{ActivationLink}">{ActivationLink}</a></p>
    <p class="text">Bien cordialement,</p>
    <p class="text">{From}</p>
    <img alt="{Company}" src="{ImageUrl}" />
</body>

</html>