@{
    ViewBag.Title = Dictionary.BookAConsultation;
    Layout = "../Shared/_LayoutForm.cshtml";
}
<div class="margin-bottom-10">
    @Html.Success(Dictionary.BookAConsultationSuccess, Dictionary.BookAConsultationSuccessMessage + " <i class='fa fa-smile-o'></i>")
</div>