<!DOCTYPE html>
<html lang="en">

<head>
    <title>{Title}</title>
</head>

<style type="text/css">
    html {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        font-size: 100%;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        margin: 0;
        color: #333;
    }
</style>

<body>
    <p class="text">Dear Team,</p>
    <p class="text">We have received a new consultation booking.</p>
    <p class="text"><strong>Customer</strong>: {ContactName}</p>
    <p class="text"><strong>Email Address</strong>: {CustomerEmail}</p>
    <p class="text"><strong>Phone Number</strong>: {PhoneNumber}</p>
    <p class="text"><strong>Consultation Duration</strong>: {Duration}</p>
    <p class="text"><strong>Price</strong>: {Price}</p>
    <p class="text">Lots of love! :-)</p>
    <img alt="{Company}" src="https://vibranthealthnow.co.uk/images/company/logo.png" />
</body>

</html>