<!DOCTYPE html>
<html lang="en">

<head>
    <title>{Title}</title>
</head>

<style type="text/css">
    html {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        font-size: 100%;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        margin: 0;
        color: #333;
    }
</style>

<body>
    <p class="text">Dear Team,</p>
    <p class="text">We have a new user subscription from {Customer} ({CustomerEmail}):</p>
    <p class="text">Subscription Type: {SubscriptionType}</p>
    <p class="text">Total Price: {TotalPrice}</p>
    <p class="text">To see all user subscriptions, click <a href="{LinkToSummary}">here</a></p>
    <p class="text">{FailedText}</p>
    <img alt="{Company}" src="https://purealchemy.store/images/company/logo.png" />
</body>

</html>