<!DOCTYPE html>
<html lang="en">

<head>
    <title>{Title}</title>
</head>

<style type="text/css">
    html
    {
        margin: 0;
		padding: 0;
		font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
		font-size: 100%;
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased !important;
        margin: 0; 
        color: #333;
    }
</style>

<body>
    <p class="text">Dear {FirstName},</p>
    <p class="text">Your password has been reset. Please click on the link below to create a new password:</p>
    <p class="text"><a href="{ResetPasswordLink}">{ResetPasswordLink}</a></p>
    <p class="text">Warm regards,</p>
    <p class="text">{From}</p>
    <img alt="{Company}" src="{ImageUrl}" />
</body>

</html>