@using System.Web.Mvc.Html
@using K9.WebApplication.Helpers
@model List<Article>

<div class="row text-center">
    <div class="col-md-12">
        <h1 class="margin-top-5 goldenrod">
            @Dictionary.Articles
        </h1>
    </div>
</div>

<hr />

<article>
    @foreach (var article in Model)
    {
        @Html.Partial("_ArticlePreview", article)
    }
</article>