@using System.Web.Mvc.Html
@using K9.WebApplication.Helpers
@model List<Article>

<div class="container">
    @foreach (var newsItem in Model)
    {
        @Html.Partial("_ArticlePreview", newsItem)
        @Html.Separator()
    }
</div>