@using System.Web.Mvc.Html
@model List<Article>
@{
    ViewBag.Title = Dictionary.Articles;
    ViewBag.SubTitle = Dictionary.Articles;
    Layout = "~/Views/Shared/_LayoutFormWide.cshtml";
}

<div class="main-section">
    <div class="container">
        <div class="main-heading">
            <h3>@Dictionary.Articles</h3>
            
        </div>
    </div>
    @Html.Partial("_Articles")
</div>