h5 {
    margin-top: 0;
}

.powered-by-stripe {
    width: 100%;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    background-image: url(../../../images/shared/powered-by-stripe-cards.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    margin-top: 10px;
    margin-bottom: 0;
}

.security-info {
    font-size: 0.8em;
}
