@{
    ViewBag.Title = Dictionary.PureAlchemyOrder;
    Layout = "../Shared/_LayoutForm.cshtml";
}
<div class="margin-bottom-10">
    @Html.Success(Dictionary.OrderSuccess, Dictionary.OrderUpdateText + " <i class='fa fa-smile-o'></i>")
</div>