@media(max-width:384px){
	/*.header-left {
		float: none;
		text-align: center;
	}
	.header-right {
		float: none;
		text-align: center;
	}*/
	.tabs .nav-tabs li a {
		padding: 1.5em;
	}
	.agileits_tom_right {
		margin-left: .5em;
	}
}