@media (max-width:1080px) {
	.agile-footer-grid {
		width: 50%;
		margin: 0 0 2em 0;
	}
	.agile-footer-grid:nth-child(3), .agile-footer-grid:nth-child(4) {
		margin: 0;
	}
	ul.dropdown-menu {
		min-width: 100%;
	}

	.team {
		padding: 4em 0;
	}
}
