@using K9.SharedLibrary.Extensions
@model DateTime?
@{
    var linkId = Guid.NewGuid().ToString();
    var dictionary = ViewData["viewDataDictionary"] as IDictionary<string, object>;
    dictionary.MergeAttribute(K9.Base.WebApplication.Constants.Html.Attributes.Id, linkId);
    var value = Model.HasValue ? Model.Value.ToString("yyyy-MM-dd") : "";
}
@Html.TextBox("", value, new { linkId, @class = "hidden-date-field", @readonly = "readonly", tabindex = -1 })
<div class="input-group date datetime">
    @Html.TextBox(linkId, Model, dictionary)
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>